<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/header') %>

    <div class="mainContainer">
        <%- include('partials/sidebar', { active: 'faculty' }) %>

        <div class="content">
            <h1 style="color:#8d56ec;">Faculty</h1>
            <p><a href="/">Home</a>&nbsp;/&nbsp;<a href="/faculty">Faculty</a></p>
            
            <!-- Add faculty content here -->
        </div>
    </div>
</body>
</html>
